.header {
    height:3rem;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px; 

}
.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain; 

}
.logo {
    height: 100%; 

}